.auth-layout-container {
  background-color: var(--bg);
}

.auth-logo {
  height: 80px;
  width: 80px;
}

.auth-card {
  background-color: var(--btn-border);
  color: var(--text);
}

.card-footer-link {
  font-size: 1.2rem;
  color: var(--text);
  font-weight: 900;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  width: fit-content;
  margin: 0 auto;
  transition: background-color 0.2s ease;
}

.card-footer-link:hover {
  color: var(--btn-text-dark);
  background-color: var(--btn-accent-color);
  text-decoration: none;
}
