.wrapper-post {
  border: 2px solid var(--btn-accent-color);
  border-radius: 1.2em;
}

.wrapper-post h3 {
  margin-bottom: 1.5rem;
}

.wrapper-post-scrollable {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
}

.wrapper-post-scrollable::-webkit-scrollbar {
  width: 6px;
}

.wrapper-post-scrollable::-webkit-scrollbar-thumb {
  background-color: #ff8c42;
  border-radius: 4px;
}

.profile-card {
  border-radius: 1.2rem;
  background-color: var(--bg);
  border: 2px solid var(--btn-accent-color);
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.post-profile-card {
  background-color: var(--bg);
  border: 2px solid var(--btn-border);
  padding: 1rem;
  transition: box-shadow 0.2s ease-in-out;
  color: var(--text);
}

.post-profile-card:hover {
  box-shadow: 0 0 15px var(--btn-accent-active-focus);
}

.accordion-posts .accordion-button.collapsed {
  background-color: var(--bg) !important;
  color: var(--text) !important;
}

.accordion-posts .accordion-button:not(.collapsed) {
  background-color: var(--btn-accent-color);
  color: var(--bg);
}

.accordion-posts .accordion-body {
  background-color: var(--bg);
  color: var(--text);
  border-top: 1px solid #ff8c42;
}

.accordion-posts .accordion-header:hover {
  background-color: #ff8c42;
  cursor: pointer;
}

.accordion-posts {
  max-width: 800px;
}

.accordion-posts .accordion-button.collapsed::after {
  filter: brightness(0) saturate(100%) invert(90%) sepia(0%) saturate(0%)
    hue-rotate(0deg);
}
